<div class="col-xs-6 col-md-2">
  CATEGORIES
</div>




<div class="col-xs-offset-8 col-md-6 col-md-offset-3">

<%  @articles.each do |article| %>

<div class="row">
  <div class="col-md-1"><%= article.title %>      <%= article.price %></div>
  <div class="col-md-1"></div>
  <div class="col-md-1"></div>
  <div class="col-md-1"></div>
  <div class="col-md-1"></div>
  <div class="col-md-1"></div>
</div>
<!--
<%= article.title %>      <%= article.price %>


 -->

  <h2><%= article.title %></h2>
    <h3>Description</h3>
    <%= article.description %>
    <h3>Prix en Euros</h3>
    <%= article.price %> Euros TTC
    <h3>Quantité disponible</h3>
    <%= article.quantity %></br>
    <button><%= link_to "Edit", edit_article_path(article) %></button>
    <button><%= link_to "Delete", article, method: :delete, data: { confirm: 'Are you sure?' }  %></button>

<!--
  <div class="row">
    <div class="col-md-3">
      <h2><%= article.title %></h2>
    </div>
    <div class="col-md-3">
      <h3>Description</h3>
      <%= article.description %>
    </div>
    <div class="col-md-3">
      <h3>Prix en Euros</h3>
      <%= article.price %> Euros TTC
    </div>
    <div class="col-md-3">
      <h3>Quantité disponible</h3>
      <%= article.quantity %></br>

    </div>
  </div> -->
<% end %>
</div>

