<h1>Find all the articles uploaded on our website !</h1>

<%  @articles.each do |article| %>

  <h2><%= article.title %></h2>

  <h3>Description</h3>
  <%= article.description %>

  <h3>Prix en Euros</h3>
  <%= article.price %>

  <h3>Quantité disponible</h3>
  <%= article.quantity %>

  <button><%= link_to "Edit", edit_article_path(article) %></button>
  <button><%= link_to "Delete", article, method: :delete, data: { confirm: 'Are you sure?' }  %></button>

<% end %>

