<h1>Item</h1>

<h2><%= @article.title %></h2>

<h3>Description</h3>

<%= @article.description %>

<h3>Price in Euros</h3>

<%= @article.price %>

<h3>Quantity available</h3>

<%= @article.quantity %>

<% @article.pictures.each do |picture| %>
  <%= image_tag picture.file.url(:small) %>
<% end %>


<%= link_to edit_article_path do %>
  <button class="btn btn-warning">Editer infos <i class="fa fa-pencil"></i></button>
<% end %>


<%= link_to new_article_picture_path(@article) do %>
  <button class="btn btn-success">Gerer photos <i class="fa fa-upload"></i></button>
<% end %>

<%= link_to add_to_cart_path(@article) do %>
  <button class="btn btn-info">Add To Cart <i class="fa fa-credit-card"></i></button>
<% end %>

